@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root {
  --rdp-accent-color: #01b0cb !important; /* Your custom color */
  --rdp-accent-background-color: #dffbff !important;
  --rdp-day_button-border-radius: 8px !important;
  --rdp-selected-font: bold medium var(--rdp-font-family) !important;
}


@layer base {

  html{
    font-family: "Poppins", "sans-serif", "Sofadi One", system-ui;
  }

  body{
    background-color: #fdfeff;
    overflow: hidden;
  }
}

/* Custom scroller styles */
.scrollbar::-webkit-scrollbar {
   width: 3px;
   height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: #057c8e;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-track{
  background-color: rgb(172, 201, 229);
}

@layer components {
  .input-box {
    @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-100 hover:text-primary focus:outline-none transition duration-300 ease-in-out;
  }

  .btn-light {
    @apply bg-cyan-50 text-primary shadow-cyan-100/0 border border-cyan-100 hover:bg-primary hover:text-white;
  }

  .login-ui-box{
    @apply w-80 h-[450px] rounded-full bg-primary absolute rotate-45;
  }

  .modal-box{
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-20 p-5 overflow-y-scroll scrollbar z-50
  }

  .btn-small{
    @apply flex items-center gap-1 text-xs font-medium bg-cyan-50 text-primary shadow-cyan-100/0 border border-cyan-100 hover:bg-primary hover:text-white rounded px-3 py-[3px]
  }

  .input-label{
    @apply text-xs text-slate-400 
  }

  .btn-delete{
    @apply bg-rose-50 text-rose-500 shadow-rose-100/0 border-rose-100 hover:bg-rose-500 hover:text-white
  }

  .icon-btn{
    @apply text-[22] text-slate-300 cursor-pointer hover:text-red-500
  }

}

.journal{
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-style: normal;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}